annotated-types==0.7.0
anyio==4.6.2.post1
arcade==2.6.17
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
distro==1.9.0
fastapi==0.115.4
googlemaps==4.10.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
jiter==0.7.0
openai==1.54.3
Pillow==9.3.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyglet==2.0.dev23
pymunk==6.4.0
pytiled-parser==2.2.0
requests==2.32.3
sniffio==1.3.1
soupsieve==2.6
starlette==0.41.2
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
wikipedia==1.4.0
