/* src/components/auth/AuthForm.css */

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1f24;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1f24;
  padding: 2rem;
  border-radius: 8px;
  color: #fff;
  width: 350px;
}

.auth-logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  color: #a8a8a8;
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #3a3d40;
  background-color: #2b2f33;
  color: #fff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-submit {
  background-color: #4caf50;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.auth-submit:hover {
  background-color: #45a049;
}

button {
  background: none;
  border: none;
  color: #a8a8a8;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: underline;
}
