/* src/styles/disabilities.css */

.disabilities label {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }
  
  .disabilities input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .disabilities button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    width: 48%;
  }
  
  .disabilities button:first-child {
    margin-right: 4%;
    background-color: #aaa;
    color: white;
  }
  
  .disabilities button:last-child {
    background-color: #4CAF50;
    color: white;
  }
  