/* src/styles/HomePage.css */

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1f24;
    color: white;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .home-page h2, .home-page h1 {
    color: #4caf50;
  }
  