/* src/styles/navbar.css */

.navbar {
  display: flex;
  align-items: center;
  background-color: #1c1f24;
  padding: 1rem;
  color: white;
}

.nav-link {
  color: white;
  margin-right: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #4caf50;
}

.logo-link {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 50px;
  height: auto;
  margin-right: 1.5rem;
}

.logout-button {
  margin-left: auto;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #45a049;
}
